
Binaries/*
Build/*
Intermediate/*
Plugins/*/Intermediate/*
.claude/*
Scripts/__pycache__/*
*.generated.h

# Cache files for the editor to use
DerivedDataCache/*

# Ignore MacOS finder attribute file
.DS_Store

